<div class="session-tittle">
  <h1 class="tittle-word">ログイン画面</h1>
</div>

<br>

<%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>ログイン情報入力</h1>
    </div>

    <br>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>

    <br>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード（6文字以上）</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"" %>
    </div>

    <br>

    <div class='login-btn'>
      <%= f.submit "ログイン" ,class:"login-red-btn" %>
    </div>
  </div>
<% end %>

<%= link_to "トップページに戻る", root_path %>

<%# <%= render "users/shared/links" %>
