<%= render "shared/second-header" %>

<div class="user-information">
  <div class="user-profile-tittle">
    <%# パンクズリスト入れたい %>
    <div class="user-contents">
      <%= "#{@user.nickname}さんのプロフィール" %>
    </div>
  </div>

  <div class="user-gender">
    <div class="user-item">
      <h1>【 プロフィール画像 】</h1>
    </div>
    <div class="user-contents">
      <%= image_tag @user.image.variant(resize: '250x250'), class: 'user-image' if @user.image.attached? %>
    </div>
    <div class="user-item">
      <h1>【 性別 】</h1>
    </div>
    <div class="user-contents">
      <%= @user.gender %>
    </div>
  </div>
  <div class="user-old">
    <div class="user-item">
      <h1>【 年齢 】</h1>
    </div>
    <div class="user-contents">
      <%= @user.old.name %>
    </div>
  </div>
  <div class="user-prefecture">
    <div class="user-item">
      <h1>【 都道府県 】</h1>
    </div>
    <div class="user-contents">
      <%= @user.prefecture.name %>
    </div>
  </div>
  <div class="user-comment">
    <div class="user-item">
      <h1>【 自己紹介・活動内容など 】</h1>
    </div>
    <div class="user-contents">
    <%# BOX内でenterを押すと改行。表示も改行して見えるように%>
      <%= @user.comments %>
    </div>
  </div>
  <div class="user-animals">
    <div class="user-item">
      <%= "#{@user.nickname}さんの投稿一覧" %>
    </div>
    <div class="user-contents">
      <% @animals.each do |animal| %>
        <%= link_to animal_path(animal.id) do %>
          <div class="user-animals">
            <div class="animals-picture">
              <%= image_tag animal.image.variant(resize: '250x250'), class: 'animal-image' if animal.image.attached? %>
            </div>
            <div class="animal-name-sex">
              <%= "#{animal.nickname} #{animal.sex}" %>
            </div>
        <% end %>
      <%end%>
    </div>
  </div>
</div>

<br>

<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
    <div class="edit-btn">
      <%# ボタン表示 %>
      <%= link_to "編集", edit_user_path, method: :get, class: 'btn' %>
    </div>
  <% end %>
<% end %>

<br>
<%= link_to "トップページに戻る", "/" %>