<div class="header">
  <div class="left-box">
    <%= image_tag "index-tittle-logo.png", class: "image" %>
  </div>
  <div class="right-box">
  <%# 以下リンクにするかボタンにするか悩み中（現在リンク（仮）） %>
  <%# 投稿ボタンを画面右下固定にするか悩み中 %>
    <% if user_signed_in? %>
      <%= link_to "#{current_user.nickname}", user_path(current_user.id), method: :get, class: 'btn' %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn' %>
      <%# ログアウト実装後投稿ボタンに変更 %>
    <% else %>
        <%= link_to "会員登録", new_user_registration_path, class: 'btn' %>
        <%= link_to "ログイン", new_user_session_path, method: :get, class: 'btn' %>
    <% end %>
  </div>
</div>