<%= render "shared/header" %>

<div class="wrapper">

  <div class="main">
    <div class="main-view">
      <div class="test-form">
        <p>・アプリ紹介文記載予定</p>
      </div>
      <div class="main-images">
        <div class="main-image1">
          <%= image_tag 'toppage3.jpeg', class: 'image' %>
        </div>
        <div class="main-image2">
          <%= image_tag 'toppage1.jpeg', class: 'image' %>
        </div>
        <div class="main-image3">
          <%= image_tag 'toppage4.jpeg', class: 'image' %>
        </div>
      </div>
      <br>
      <p>・検索フォーム</p>
      <br>
      <p>・保護中相談チャットルーム</p>
      <br>
      <div class="contents row">
      <p>（仮）一覧表示</p>
        <% @animals.each do |animal| %>
          <%= link_to animal_path(animal.id) do %>
              <%= image_tag animal.image.variant(resize: '250x250'), class: 'animal-image' if animal.image.attached? %>
          <% end %>
        <% end %>
      </div>
      <br>
      <p>・里親決定済画像一覧表示（日付新しい順３枚スライド表示）</p>
    </div>
  </div>

  <%= link_to(new_animal_path, class: 'family-btn') do %>
    <%= image_tag 'icon2.png', size:'170x70', class: "family-btn-icon" %>
    <span class='family-btn-text'>投稿する</span>
  <% end %>

</div>

<%= render "shared/footer" %>