<div class="registration_tittle">
  <h1>新規登録</h1>
</div>

<%= form_with(id: 'new_user', class: 'new_user', local: true) do |f| %>
  <%# エラ〜メッセージ %>
  <%# <%= render "users/shared/error_messages", resource: resource %>

  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>氏名</label>
      <span class='indispensable'>必須</span>
    </div>
    <div class="fullname">
      <div class="last_name">
        <%= f.text_field :last_name, class:"input-name", id:"last_name", placeholder:"田中", autofocus: true %>
      </div>
      <div class="first_name">
        <%= f.text_field :first_name, class:"input-name", id:"first_name", placeholder:"太郎" %>
      </div>
    </div>
  </div>

  <br>

  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>氏名（カナ）</label>
      <span class='indispensable'>必須</span>
    </div>
    <div class="fullname-kana">
      <div class="last-name-kana">
        <%= f.text_field :last_name_kana, class:"input-name", id:"last_name_kana", placeholder:"タナカ", autofocus: true %>
      </div>
      <div class="first_name">
        <%= f.text_field :first_name_kana, class:"input-name", id:"first_name_kana", placeholder:"タロウ" %>
      </div>
    </div>
  </div>

  <br>

  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>お住まいの地域</label>
      <span class='indispensable'>必須</span>
    </div>
    <div class='living-area'>
      <div class='living-prefecture'>
        <%= f.label :prefecture_id, "都道府県" %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {} %>
      </div>
      <div class='living-city'>
        <%= f.label :city, "市" %>
        <%= f.text_field :city, class:"input-city", id:"city", placeholder:"熊本市" %>
      </div>
    </div>
  </div>

  <br>

  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>ニックネーム</label>
      <span class='indispensable'>必須</span>
    </div>
    <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"例） タロネコ" %>
  </div>

  <br>

  <div class='form-group'>
    <div class='form-text-wrap'>
      <label class='form-text'>メールアドレス</label>
      <span class='indispensable'>必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可" %>
  </div>

  <br>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class='form-text'>パスワード（６文字以上）</label>
      <span class='indispensable'>必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
  </div>

  <br>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "会員登録" %>
  </div>
<% end %>

<br>
<%# 仮置き戻るリンク %>
<%=link_to "トップページに戻る", root_path %>
